{% extends "base.html" %} {% block title %} Etiket: {{ tag }} - {{ SITENAME }}
{% endblock %} {% block content %}
<div>
  <h2>{{ tag }}</h2>
  {% set articles_by_year = articles|groupby('date.year') %} {% for year,
  year_articles in articles_by_year %}
  <h3>{{ year }}</h3>
  {% for article in year_articles %}
  <p>
    <a href="{{ SITEURL }}/{{ article.url|striptags|escape }}">
      {{ article.title|striptags|escape }}
    </a>
    -
    <time datetime="{{ article.date }}">
      {{ article.date.strftime("%Y-%m-%d") }}
    </time>
  </p>
  {% endfor %} {% endfor %}
</div>
{% endblock %}
